<p style="color: green"><%= notice %></p>

<div id="assignments table-responsive">
  <table class="table table-hover">
    <thead>
    <tr>
      <th scope="col">id</th>
      <th scope="col">Title</th>
      <th scope="col">Due Date</th>
      <th scope="col">Status</th>
    </tr>
    </thead>
    <tbody>
    <% @assignments.each do |assignment| %>
      <th scope="row">1</th>
      <td><%= assignment.task.title %></td>
      <td><%= assignment.task.due_date %></td>
      <td><%= assignment.done %></td>
      <td><% if assignment.done %>
          <%= button_to "Mark as not done", assignment_path(assignment.id),
                        params: { assignment: { done: false } },
                        method: :put,
                        class: "btn btn-outline-danger" %>
        <% else %>
          <%= button_to "Mark as done", assignment_path(assignment.id),
                        params: { assignment: { done: true } },
                        method: :put,
                        class: "btn btn-success" %>
        <% end %></td>
      </tr>
    <% end %>
    </tbody>
  </table>

</div>
